{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}

<div class="red-half">
    <div class="left-section">
        <!-- <div class="col-md-6">  -->
            <p>Overall Progress</p>
            <div class="progress blue">
                <span class="progress-left">
                                <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                                <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
            </div>
    </div>
    <div class="right-section">
        <div>
            <p class="greeting">How are you, {{ user.username }}?</p>
            <blockquote class="quote-box">
                <p class="quotation-mark">“</p>
                <p class="quote-text">
                </p>
                <hr>
                <div class="blog-post-actions">
                    <p class="blog-post-bottom">
                    </p>
                </div>
            </blockquote>
        </div>
    </div>
</div>
<div class="green-half">
    <div class="pink-section">
        <h3 class="tasks-title">In-Progress</h3>
        {% for task in in_progress_tasks %}
        <div class="task-bar">
            <div>
                <div class="task-title">{{ task.title }}</div>
                <div class="task-date">{{ task.due_date }}</div>

            </div>
            <button class="task-button">View</button>
            <input type="hidden" id="hidden-id" value="{{ task.id  }}">
        </div>
        
        {% endfor %}
    </div>

    <div class="orange-section">
        <div class="left-button">
            <img src="{% static 'icons/left.png' %}" alt="">
        </div>
        <div class="floating-card">
            <div class="img-text">
                <div class="streak-title">{{ streak.title }}</div> </div>
            <div class="img-container">
                <img src="{% static 'icons/streak.png' %}" alt="Streak Image" class="floating-card-image">
            </div>
            <div class="streak-info">
                <p>{{ streak.days }}</p> </div>
            <div class="streak-buttons">
                <button class="button-red">Delete</button>
                <button class="button-green">Done</button>
            </div>
        </div>
        <div class="right-button">
            <img src="{% static 'icons/next.png' %}" alt="">
            <input type="hidden" id="hidden-sid" value="{{ streak.id  }}"> 
        </div>
    </div>
    
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
