{% extends "base.html" %}

{% block content %}
<div class="streak-manage-container">
    <button type="button" class="btn btn-primary create-button" >Create</button>
</div>
<div class="streak-container">
    {% for task in streaks %}
    <div class="task-bar">
        <div>
            <div class="task-title">{{ task.title }}</div>
            <div class="task-date">{{ task.days }}</div>
        </div>
        <button class="task-button">View</button>
        <input type="hidden" id="hidden-id" value="{{ task.id  }}"> 
    </div>
    {% endfor %}
</div>

<script>
    const vButtons = document.querySelectorAll('.task-button');
    
    vButtons.forEach(button => {
      button.addEventListener('click', function() {
        // Get the closest ancestor task-bar element
        const taskBar = this.closest('.task-bar');
    
        // Find the following sibling of the button (the hidden input)
        const hiddenInput = taskBar.querySelector('.task-button + input[type="hidden"]');
    
        // Extract the task ID from the hidden input value
        const taskId = hiddenInput.value;
    
        // Redirect to the update URL with the extracted task ID
        window.location.href = `/streak/update/${taskId}`;
      });
    });
    
    const createButton = document.querySelector('.create-button');

createButton.addEventListener('click', function() {
  window.location.href = '/streak/create/';
});
    </script>

{% endblock %}
