{% extends "base.html" %}

{% block content %}
<div class="task-manage-container">
    <button type="button" class="btn btn-primary create-button" >Create</button>
</div>
<div class="task-container">
    {% for task in tasks %}
    <div class="task-bar">
        <div>
            <div class="task-title">{{ task.title }}</div>
            <div class="task-date">{{ task.due_date }}</div>
        </div>
        <button class="task-button">View</button>
    </div>
    {% endfor %}
</div>
{% endblock %}
