/* styles.css */
.streak-container {
    max-width: 800px; /* Adjust the max-width as per your requirement */
    margin: 0 auto;   /* Center the container */
    padding: 20px;    /* Add padding for content spacing */     
    background-color: #fff; /* Background color to distinguish it from the body */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for a lifted effect */
    border-radius: 8px; /* Optional: Rounded corners */
    height: 100%;
    background-color: lightblue;
}

.streak-manage-container{
    max-width: 800px; /* Adjust the max-width as per your requirement */
    margin: .5rem auto;   /* Center the container */
    background-color: #fff; /* Background color to distinguish it from the body */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;  */
    height: 5rem;
    display: flex;
    justify-content: end;
    padding: .5rem;
    align-items: center;
}

.task-bar {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-title {
    font-size: 16px;
    font-weight: bold;
}

.task-date {
    font-size: 14px;
    color: gray;
}

.task-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.task-button:hover {
    background-color: #0056b3;
}

.create-button {
    height: 4rem;
    font-weight: bold;
    font-size: large;
    width: 100px;
    border-radius: 8px;
}


